@font-face {
  font-family: '8bit_wondernominal';
  src: url('Assets/font/8-bit_wonder-webfont.woff2') format('woff2'),
       url('Assets/font/8-bit_wonder-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("Assets/menu/Curse_of_the_dawn_title_image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  margin: auto;
  width: 10%;
  color: white;
  margin-top: 40%;
}

#play {
  font-family: "8bit_wondernominal";
  text-align: center;
  font-size: 300%;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
  outline: none;
}


@keyframes blink {
  0% { opacity: 1; }
  20% { opacity: 0.8; }
  40% { opacity: 0.6; }
  60%  { opacity: 0.4; }
  80% { opacity: 0.2; }
  100% { opacity: 0.1; }
}