#health {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 10;
}

#time {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

#healthBar {
  position: absolute;
  left: 20px;
  bottom: 20px;
  visibility: hidden;
  z-index: 10px;
}
